# Exported functions
export(anova.jointModel, coef.jointModel, fitted.jointModel, fixef.jointModel, jointModel, plot.jointModel, 
	 plot.survfitJM, ranef.jointModel, residuals.jointModel, survfitJM, weibull.frailty)

# Imported functions
importFrom(nlme, fixed.effects)
importFrom(nlme, fixef)
importFrom(nlme, random.effects)
importFrom(nlme, ranef)

# S3 methods
S3method(anova, jointModel)
S3method(coef, jointModel)
S3method(coef, weibull.frailty)
S3method(fitted, jointModel)
S3method(fixef, jointModel)
S3method(logLik, jointModel)
S3method(logLik, weibull.frailty)
S3method(plot, jointModel)
S3method(plot, survfitJM)
S3method(print, aov.jointModel)
S3method(print, jointModel)
S3method(print, summary.jointModel)
S3method(print, summary.weibull.frailty)
S3method(print, survfitJM)
S3method(print, weibull.frailty)
S3method(ranef, jointModel)
S3method(residuals, jointModel)
S3method(summary, jointModel)
S3method(summary, weibull.frailty)
S3method(vcov, jointModel)
S3method(vcov, weibull.frailty)
